.App {
  text-align: center;
  background-color: rgba(218, 223, 225, 1);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr.table:hover {
  background-color: rgba(137, 196, 244, 0.5);
  cursor: pointer;
}

h5 {
  text-align: left;
  text-decoration: underline;
}

h6,
h4 {
  text-align: left;
}

i:hover {
  color: rgba(68, 108, 179, 1);
  cursor: pointer;
}

th,
tr {
  text-align: left;
}

.comp {
  height: calc(100vh - 100px);
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
  background-color: white;
}

.btn-primary {
  background-color: rgba(44, 130, 201, 1);
}

.btn-danger {
  background-color: rgb(214, 69, 65);
}

.drafts {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .comp {
    height: 100%;
    margin-bottom: 100px;
  }
  .App {
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    height: 100%;
  }
}
